.main_header{
    width: 100%;
    background-color: #fff;
}

.main_header .main_header_content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.main_header .main_header_content .logo{
    flex-basis: 330px;
    padding: 20px;
    width: 290px;
}

.main_header .main_header_content .main_header_content_menu {
    flex-basis: calc(100% - 300px);
    display: flex;
    justify-content: flex-end;
}

.main_header_content_menu ul {
    display: flex;
    align-items: stretch;
}

.main_header_content_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main_header_content_menu ul li a{
    padding: 0 25px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #D36833;
    font-size: 20px;
}

.main_header_content_menu ul li a:hover{
    color: #FFF;
    background-color: #D36833;
}

.main_cta{
    width: 100%;
    background-image: url("../images/bg_main_home.png");
    background-color:#2D3142;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.main_cta .main_cta_content{
    max-width: 1300px;
    margin: 0 auto;
}

.main_cta .main_cta_content h1{
    font-size: 2.5em;
    color: #FFF;
    font-weight: 700;
    text-align: center;
}

.main_cta .main_cta_content p{
    font-size: 1.4em;
    color: #FFF;
    font-weight: 300;
    text-align: center;
    margin: 20px 0;
}
.main_cta .main_cta_content .btn{
    background-color: #D36833;
    color: #FFF;
    font-size: 1em;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


.main_cta .main_cta_content .main_cta_content_spacer{
    margin: 0 auto;
    max-width: 1300px;
    padding: 160px 40px;
}
/*CONFIGURAÇOES DA ABA ACESSOS*/
.main_acessos{
    max-width: calc(1300px - 40px);
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_acessos .main_acessos_header{
    flex-basis: 100%;
    margin: 30px 0;
}

.main_acessos .main_acessos_header h1{
    color: #333;
    margin-bottom: 5px;
    font-size: 1.8em;
}
.main_acessos article{
    flex-basis: calc(24% - 20px);
    text-align:justify;
}
.main_acessos article img{
    width: 70px;
    height: 100px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main_acessos article .content h1 {
    font-size: 1em;
    padding: 15px 0;
    text-align: center;
    color: #D36833;
}
.main_acessos article .content p {
    padding: 10px 0;
    color:#2D3142;
}
.main_acessos article .content .btn{
    background-color: #D36833;
    color: #FFFFFF;
    font-size: 1em;
    padding: 2px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;

}

.card{
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    padding: 25px;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.389);
    position: relative;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 250px;
}

.icon img{
    width: 100px;
}

.main_unidades{
    max-width: calc(1300px - 40px);
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_unidades .main_unidades_header{
    flex-basis: 100%;
    margin: 30px 0;
}

.main_unidades .main_unidades_header h1{
    margin-bottom: 5px;
    font-size: 1.8em;
}
.main_unidades article{
    flex-basis: calc(24% - 20px);
    text-align:justify;
}
.main_unidades article iframe{
    width: 150px;
    height: 130px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main_unidades article .content h1 {
    color: #D36833;
    text-align: center;
    font-size: 1.2em;
}
.main_unidades article .content p {
    color: #2D3142;
    text-align: center;
    font-size: 1em;
}



/*OPTIN*/
.main_optin{
    width: 100%;
    background-color: #2D3142;
    margin: 40px 0;
}

.main_optin_content{
    max-width: calc(1300px - 40px);
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
}
.main_optin_content header, .main_optin_content form{
    flex-basis: 50%;
}

.main_optin_content header h1, .main_optin_content header p{
    color: #FFFFFF;
    margin-right: 20px;
    text-align: right;
}

.main_optin_content header h1{
    font-size: 1.5em;
    font-weight: 400;
}

.main_optin_content header p{
    font-weight: 300;
}
.main_optin_content form{
    display: flex;
    justify-content: space-between;
}
.main_optin_content form input[type=text], .main_optin_content form input[type=email]{
    flex-basis: 37%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: none;
    padding: 0 10px;
}

.main_optin_content form button{
    flex-basis: 20%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #D36833;
    color: #FFFFFF;
    border: none;
}

.main_footer{
    max-width: 1300px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #333333;
    background-color: #FFFFFF;
}

.main_footer > header{
    flex-basis: 100%;
}

.main_footer_our_pages, .main_footer_links{
    flex-basis: 33%;
}

.main_footer_about{
    flex-basis: 33%;
}

.main_footer > article h2{
    margin-bottom: 20px;
    font-size: 1.3em;

}

.main_footer > article ul li{
    list-style: none;
    margin: 5px 0;
}
.main_footer > article ul li a{
    color: #333333;
}

.main_footer > article ul li a:hover{
    text-decoration: underline;
}

.main_footer_rights{
    width: 100%;
    text-align: center;
    background-color: #475163;
    border-top: 1px solid #EBEBEB;
    font-size: 1em;
    color: #D36833;
    font-weight: 300;
}

